#airflow files
dags/_pycache_/
logs/
plugins/

#terraform files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/variables.tf

#flow diagram xml
images/flow_diagram.drawio